<div class="top-wrapper">
  <div class="users-new-container">
    <h1 class="text-black text-center mt-auto">サイト名</h1>
    <h4 class="text-black text-center">ログイン</h4>
    <div class="row">
      <div class="mt-4 offset-xl-3 offset-lg-3 offset-md-3 offset-2 col-xl-6 col-lg-6 col-md-6 col-8">
        <%= form_for :session, url: login_path do |f| %>  
          <div class="form-group">
            <%= f.label "アカウント名 または メールアドレス", class: "label-text" %>
            <%= f.text_field :email, class: "form-control", id: "text", placeholder: "アカウント名／メールアドレス" %>
            <div class="invalid-tooltip">
              アカウント名 または メールアドレスを入力してください
            </div>
          </div>
          <div class="form-group">
            <%= f.label "パスワード", class: "label-text" %>
            <%= f.password_field :password, class: "form-control", id: "password", placeholder: "半角英数字8～20文字", minlength: "８", maxlength: "20", pattern: "^[0-9A-Za-z]+$" %>
            <div class="invalid-tooltip">
              パスワードを入力してください
            </div>
          </div>
          
          <div class="form-group form-check">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me, class: "form-check-input", id: "checkbox" %>
              <span class="form-check-label">次回から自動的にログイン</span>
            <% end %>
          </div>
          
          <%= f.submit "ログイン", class: "btn btn-block btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="row text-right">
      <div class="offset-xl-3 offset-lg-3 offset-md-3 offset-2 col-xl-6 col-lg-6 col-md-6 col-8">
        <p2>
          <%= link_to 'パスワードをお忘れの方はこちら', logout_path, :method => :delete, class: "text-black" %>
        </p2>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "sessions_new_resize.js" %>