<div class="top-wrapper">
  <div class="users-new-container">
    <h1 class="text-black text-center mt-auto">サイト名</h1>
    <h4 class="text-black text-center">アカウント仮登録</h4>
    <div class="row">
      <div class="mt-4 offset-xl-3 offset-lg-3 offset-md-3 offset-2 col-xl-6 col-lg-6 col-md-6 col-8">
        <%= form_for @preuser do |f| %>
          <div class="form-group form-row">
            <div class="col">
              <%= f.label "氏名", class: "label-text" %> <%# for属性の値とid属性の値を同じにする%>
              <%= f.text_field :family_name, class: "form-control", id: "family_name", placeholder: "姓", autocomplete: "family-name" %>
              <div class="invalid-tooltip">
                氏名を入力してください
              </div>
            </div>
            <div class="col text-right">
              <%= f.label "※全て必須", class: "help-text" %>
              <%= f.text_field :first_name, class: "form-control", id: "first_name", placeholder: "名", autocomplete: "given-name" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "メールアドレス", class: "label-text" %>
            <%= f.email_field :email, class: "form-control", id: "email", placeholder: "例：taro.yamada@gmail.com", autocomplete: "email" %>
            <div class="invalid-tooltip">
              メールアドレスを入力してください
            </div>
          </div>
          
          <%= f.submit "送信", class: "btn btn-block btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "users_pre_new_resize.js" %>