<div class="top-wrapper text-center">
  <%#div class="container-fluid"%>
    <div class="top-container">
      <h1 class="text-black">サイト名</h1>
      <div class="row">
        <div class="offset-xl-2 offset-lg-2 offset-md-1 offset-1 col-xl-3 col-lg-3 col-md-4 col-4" id="resizebutton1">
          <%= link_to 'サインアップ', new_user_path, class: 'btn btn-block btn-black btn-outline-info' %>
        </div>
        <div class="offset-xl-2 offset-lg-2 offset-md-2 offset-2 col-xl-3 col-lg-3 col-md-4 col-4" id="resizebutton2">
          <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-black' %>
        </div>
      </div>
      <div class="public-com-container">
        <h2 class="text-black">コミュニティを探す</h2>
        <div class="row">
          <div class="offset-xl-2 offset-lg-2 offset-md-1 offset-1 col-xl-8 col-lg-8 col-md-10 col-10">
            <%= form_with url: '/', method: 'get' do %>
              <div class="input-group" id="resizebox">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "キーワードから探す" %> <%# params[:search]をどうするか %>
                <span class="input-group-append">
                  <%= link_to '#', class: "btn btn-primary", method: :get do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row text-right">
          <div class="offset-xl-2 offset-lg-2 offset-md-1 offset-1 col-xl-8 col-lg-8 col-md-10 col-10">
            <p1>
              <%= link_to '>>詳細検索する', searches_show_path, class: "text-black" %>
            </p1>
          </div>
        </div>
        <h3 class="text-black">人気の公開コミュニティ</h3>
        <div class="box_scrollbar" align="center">
          <table class="table table-hover">
            <tr class="table-light">
              <td width="6rem" align="center"><%#img src="./staff_01.jpg" class="community-image" class="img-thumbnail"%></td><td>F.L.Tクラブ</td>
            </tr>
            <tr class="table-light">
              <td align="center"><%#img src="./staff_02.jpg" class="community-image"%></td><td>Tech Boost</td>
            </tr>
            <tr class="table-light">
              <td align="center"><%#img src="./staff_02.jpg" class="community-image"%></td><td>こぶし</td>
            </tr>
            <tr class="table-light">
              <td align="center"><%#img src="./staff_02.jpg" class="community-image"%></td><td>ルクール</td>
            </tr>
            <tr class="table-light">
              <td align="center"><%#img src="./staff_02.jpg" class="community-image"%></td><td>Team Black</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <%#</div>%>
</div>
<%= javascript_include_tag "pages_index_resize.js" %>
